<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="mb02qyqyu86xd47"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
    <div id='cssmenu'>
        <ul>
            <li><a href='/Home'><i class="fa fa-home"></i>Home</a></li>
            <li class='active has-sub'>
                <a href='/Country/Index'><i class="fa fa-globe"></i>Administrar mundo</a>
            </li>
            <li class='has-sub'>
                <a href='/Country/TestData'><i class="fa fa-child"></i>Generar personas</a>
            </li>
            <li class='has-sub'>
                <a href='#'><i class="fa fa-search"></i>Consultas</a>
                <ul>
                    <li><a href='/Queries/CountryInfo'>Información de países</a></li>
                    <li><a href='/Queries/QueryII'>Nacimientos</a></li>
                </ul>
            </li>
            <li><a href='#'>Contact</a></li>
        </ul>
    </div>
    <div class="container body-content custom-min-width">
        @RenderBody()
        @*<hr />*@
        @*<footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
